PORT=8000



# Convex Configuration
CONVEX_URL=

# Clerk Authentication
CLERK_JWT_ISSUER_DOMAIN=

# Groq
GROQ_API_KEY=
GOOGLE_API_KEY=

# Upstash redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
